body {
    background: url('../img/bg.jpg');
}

@media only screen and (min-width: 768px) {
    .login .vertical-offset {
    padding-top: 160px;
}

	.login .vertical-offset2 {
		padding-top: 100px;
	}
}

.login .panel {
    padding:10px 0px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid white;
    border-radius: 25px;
}

#map {
    height: 450px;
    width: 100%;
}
.top  .dt-buttons{
	float:right;
}
.pagination{
	margin:0px;
}

.serach-type{
	float:right;
	min-height: 36px;
	margin:0 5px;
}


							.search{								
								float:right;
								padding:5px;
								min-height: 38px;
							}
							.search input, .search select{
								width:120px;
								float:left;
								border:none;
								background-color:transparent;
								height: 26px;
								margin: 0  0  0 10px;	
								border-right: solid #ddd thin;	
							}							
							.search button{
								width:70px;
								float:left;
							}		

							
							
.menu-right{
	padding:10px;
	background-color: #f8f8f8 !important;
	min-width:300px;
}	
							
							
							